.copyright {
    font-size: 12px;
    text-align: center;
}

.ui-content {
    text-align: center;
    background-color: #fff;
}

.pt-menu .ui-btn {
    cursor: pointer;
    display: inline-block;
    height: 160px;
    margin: 5px !important;
    text-align: center;
    width: 160px;
    border: 0.1px solid #e0e0e0;
    border-radius: 5px;
    /*border-radius: 200px;*/
}

.pt-menu .ui-btn-inner {
    border: 0;
    background-color:#fff;
}

.pt-menu .ui-btn img {
    /*height: 50px;*/
}


/* contact page */
#contact .ui-br {
    border: 0;
}

/* form underline bug fix */
.ui-br {
    border-bottom: none !important;
}

/* form errors */
label.error {
    color: red;
    padding-top: .5em;
    vertical-align: top;
    font-weight:bold;
    display: inline-block;
    vertical-align: top;
    margin-left: 22%;
}


/* table styles */
.tablerow {
    display: inline-block;
    width: 100%;
}
.left-table {
    text-align: right;
    width: 25%; float: left;
    padding-right: 2%;
    font-weight: bold;
}
.right-table {
    text-align: left;
    width: 73%; float: left;
}

/* bottom back and next buttons */
.previous-btn {
    float: left;
}
.next-btn {
    float: right;
}

/* toggle buttons styles */
.ui-collapsible-heading-toggle {
    border: none;
}

/* ui component tweaks */
.ui-textalign-left {
    text-align: left;
}

/* portfolio item right button stlye fix */
.portfolio-item .ui-btn-icon-notext {
    padding: 0 !important;
}

.ui-content p {
font-size: 17px;
color: #231F5E;
margin: 0px 0px 0px 0px;
}

.ui-content img {
width: 165px;
height: 128px
}

.header{
	 position: relative; 
	 border-left-width: 0; 
	 border-right-width: 0;
	 zoom: 1; 
	 text-align: center; 
	 margin-top: 15px; 
	 font-size: 17px;
	
}
.headersub{
	 position: relative; 
	 border-left-width: 0; 
	 border-right-width: 0;
	 zoom: 1; 
	 text-align: center; 
	 margin-top: 15px; 
	 font-size: 17px;
	
}