#layout_content {
	clear:both;
	margin:0;
	padding:0;
	color:#333;
	width:99%;
	min-width:1100px;

	min-height: 100%;
	margin: 100px auto 160px auto;
/* 	border: 1px solid #e0e0e0; */
	}

#layout_content_popup {
	clear:both;
	color:#333;
	width:1200px;
	}

#layout_content_popup_sub {
	clear:both;
	color:#333;
	width:450px;
	}


.content_top {
	margin:0 5px;
	height:50px;
	}


.tit01 {
	text-align:left ;
	height:  35px;
	margin:0;
	padding:6px 0 0 10px;
	font-size:15px;
	color:#555555;
	}

table { border-collapse:collapse; }

table.wtable {
	width:100%;
	text-align:center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 12px;
	}

table.wtable th {
	line-height: 30px;
	padding:5px;
	color:#555555;
	background-color: #f0f0f0;
	}

table.wtable td {
	font-size: 12px;
	padding:3px;
	line-height: 20px;
	border-bottom:solid 0.3px #e6e6e6;
	color:#404040;
	}


table.wtable_sub {
	width:100%;
	text-align:center;
	margin: 5px;
	font-size: 14px;
	}

table.wtable_sub th {
	background-color:#3C5A91;
	line-height: 30px;
	padding:2px;
	color:#fff;
	}

table.wtable_sub td {
	font-size: 13px;
	padding:3px;
	line-height: 30px;
	color:#404040;
	justify-content: center;
	heigth: 100px;
	}

table.htable {
	width:100%;
	text-align:center;
	font-size: 12px;
	}

table.htable th {
	background-color:#fff;
	line-height: 20px;
	padding:2px;
	color:#555555;
	width : 100px;
	}
table.htable th.MainInfo {
	background-color:#fff;
	line-height: 20px;
	padding:2px;
	color:#555555;
	width : 100px;
	}
	
table.htable th.AccountMain{
	line-height: 20px;
	padding:2px;
	border-bottom:solid 0.3px #e6e6e6;
	width: 20px;
}
table.htable th.LogPart{
	line-height: 20px;
	padding:2px;
	border-bottom:solid 0.3px #e6e6e6;
	 width: 80px;
    font-size: 12px;
}

table.htable th.nowInfo {
	background-color:white;
	line-height: 20px;
	padding:2px;
	color:#e6e6e6;
	border-bottom:solid 0.3px #e6e6e6;
	width: 20px;
	}

table.htable td {
	font-size: 13px;
	padding:3px;
	line-height: 40px;
	color:#404040;
	}
table.htable td.sub {
	font-size: 13px;
	padding:3px;
	line-height: 40px;
	color:#404040;
	width: 50px;
	}


/* 占쎈�믭옙�뵠�뇡占� sorter */

.tablesorter-blackice .header,
.tablesorter-blackice .tablesorter-header {
	cursor: pointer;
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	background-position: center right;
	background-repeat: no-repeat;
}
.tablesorter-blackice .headerSortUp,
.tablesorter-blackice .tablesorter-headerSortUp,
.tablesorter-blackice .tablesorter-headerAsc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
	color: #fff;
}
.tablesorter-blackice .headerSortDown,
.tablesorter-blackice .tablesorter-headerSortDown,
.tablesorter-blackice .tablesorter-headerDesc {
	color: #fff;
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
.tablesorter-blackice thead .sorter-false {
	background-image: none;
	cursor: default;
	border-bottom: 1px solid #e0e0e0;
}

/* 占쎈�믭옙�뵠�뇡占� sorter */


#layout_content input.common_input1{
  width: 100px;
  height: 30px;
  padding: 2px;
  font-size: 14px;
  color: #1b1b1b;
  border: 1px solid #ccc;
  border-right:none;
  text-align: center;
  float: left;
}

#layout_content div.common_div,
#layout_content_popup div.common_div{
  width: 65px;
  height: 30px;
  font-size: 11px;
  color: #1b1b1b;
  background-color:#eee;
  border: 1px solid #ccc;
  border-right:none;
  float: left;
}

#layout_content input.common_input2,
#layout_content_popup input.common_input2 {
  width: 140px;
  height: 30px;
  line-height:24px;
  font-size: 12px;
  color: #1b1b1b;
  border: 1px solid #ccc;
  text-align: center;
  float: left;
  vertical-align: middle;
}

#layout_content select.common_select,
#layout_content_popup select.common_select{
  width: 120px;
  height: 40px;
  cursor:pointer;
  font-size: 14px;
  color: #1b1b1b;
  padding:5px 0;
  border: 1px solid #ccc;
  text-align: center;
  float: left;
}
#layout_content select.common_select,
#layout_content_popup select.common_selectLeft{
  width: 150px;
  height: 30px;
  cursor:pointer;
  font-size: 12px;
  color: #1b1b1b;
  padding:5px 0;
  border: 1px solid #ccc;
  text-align: left;
  float: left;
}

#layout_content button.common_button1,
#layout_content_popup button.common_button1{
  width: 120px;
  height: 30px;
  line-height:24px;
  cursor:pointer;
  font-size: 14px;
  color: #fff;
  background-color: #464646;
  border: none;
  border-radius: 4px;
  text-align: center;
  float: left;
  behavior: url(/r2pRecordStreaming/static/lib/PIE/PIE.htc);
}


#layout_content button.common_button1:hover,
#layout_content_popup button.common_button1:hover{
	background-color:#848484;
}

#layout_content button.common_button2,
#layout_content_popup button.common_button2{
  width: 100px;
  height: 30px;
  line-height:24px;
  cursor:pointer;
  font-size: 14px;
  color: #555555;
  background-color: #f4ceb9;
  border: none;
  border-radius: 4px;
  text-align: center;
  margin-right:30px;
  float : left;
  behavior: url(/r2pRecordStreaming/static/lib/PIE/PIE.htc);
}
#layout_content button.common_button3,
#layout_content_popup button.common_button3{
  width: 100px;
  height: 30px;
  line-height:24px;
  cursor:pointer;
  font-size: 14px;
  color: #fff;
  background-color: #6a9ac6;
  border: none;
  border-radius: 4px;
  text-align: center;
  float : right;
  behavior: url(/r2pRecordStreaming/static/lib/PIE/PIE.htc);
}
#layout_content button.common_button10,
#layout_content_popup button.common_button10{
  width: 57px;
  height: 25px;
  line-height:24px;
  cursor:pointer;
  font-size: 11px;
  color: #fff;
  background-color: #808080;
  border: none;
  border-radius: 4px;
  text-align: center;
  margin-right:30px;
  float : left;
  behavior: url(/r2pRecordStreaming/static/lib/PIE/PIE.htc);
}

#layout_content button.common_button2:hover,
#layout_content_popup button.common_button2:hover{
	background-color: #848484;
}

input.userManagefix{
  width: 300px;
  height: 30px;
  line-height:24px;
  margin-left:10px;
  padding: 2px;
  font-size: 30px;
  color: red;
  border: 1px solid #eee;
  float: left;
}
#layout_content_popup_sub table.htable input.userManageshow{
  width: 300px;
  height: 40px;
  margin-left:10px;
  padding: 2px;
  padding-left: 50px;
  font-size: 15px;
  color: c8c8c8;
  border: 1px solid white;
  background-color: white;
}
#layout_content_popup_sub table.htable input.userManageInputNow{
  width: 133px;
  height: 30px;
  line-height:24px;
  margin-left:1px;
  padding: 2px;
  font-size: 11px;
  color: #1b1b1b;
  border: 1px solid white;
  background-color:white;
  float: left;
}
#layout_content_popup_sub table.htable input.userManageInputRev{
  width: 195px;
  height: 30px;
  line-height:24px;
  margin-left:5px;
  margin-right: 2px;
  padding: 2px;
  font-size: 12px;
  color: #1b1b1b;
  border: 1px solid #eee;
  float: right;
}

input[name="moblphonNo"]::placeholder {
	font-size: 12px;
	}
input[name="mberName"]::placeholder {
	font-size: 12px;
	}

#layout_content_popup_sub table.htable input.userManageInputMain{
  width: 250px;
  height: 30px;
  line-height:24px;
  padding: 2px;
  margin-left:10px;
  font-size: 14px;
  color: #1b1b1b;
  border: 1px solid #eee;
  float: left;
}
#layout_content_popup_sub table.htable input.userManageInput{
  width: 350px;
  height: 30px;
  line-height:24px;
  padding: 2px;
  margin-left:10px;
  font-size: 14px;
  color: #1b1b1b;
  border: 1px solid #eee;
  float: left;
}
#layout_content_popup_sub table.htable input.userManageInput2{
  width: 255px;
  height: 30px;
  line-height:24px;
  margin-left:10px;
  padding: 2px;
  font-size: 14px;
  color: #1b1b1b;
  border: 1px solid #eee;
  float: left;
}
#layout_content_popup_sub table.htable select.userManageInput{
  width: 300px;
  height: 30px;
  line-height:24px;
  margin-left:10px;
  padding: 2px;
  font-size: 14px;
  color: #1b1b1b;
  border: 1px solid #eee;
  float: left;
}
#layout_content_popup_sub table.htable select.userManageInputMain{
  width: 300px;
  height: 30px;
  line-height:24px;
  margin-left:10px;
  padding: 2px;
  font-size: 14px;
  color: #1b1b1b;
  border: 1px solid #eee;
  float: left;
}

#layout_content_popup_sub table.htable select.userManageSelect{
  width: 300px;
  height: 30px;
  min-height:30px;
  margin-left:10px;
  padding: 2px;
  font-size: 14px;
  color: #1b1b1b;
  border: 1px solid #eee;
  float: left;
  cursor:pointer;
}


#layout_content_popup_sub table.htable select.userManageSelect2{
  width: 225px;
  height: 30px;
  min-height:30px;
  margin-left:10px;
  padding: 2px;
  font-size: 14px;
  color: #1b1b1b;
  border: 1px solid #eee;
  float: left;
  cursor:pointer;
}

#layout_content_popup_sub button.eqlistButton{
  width: 60px;
  height: 40px;
  min-height:40px;
  padding: 2px;
  margin:5px auto 5px auto;
  font-size: 14px;
  color: #fff;
  background-color:#263238;
  border: 1px solid transparent;
  cursor:pointer;
}
#layout_content_popup_sub button.eqlistButtonAccount{
  width: 100px;
  height: 40px;
  min-height:40px;
  padding: 2px;
  margin: 5px 6px 8px 30px;
  font-size: 14px;
  color: #fff;
  background-color:#263238;
  border: 1px solid transparent;
  cursor:pointer;
}

#layout_content_popup_sub button.userManageButton{
  width: 200px;
  height: 40px;
  min-height:40px;
  padding: 2px;
  margin: 5px 6px 8px 30px;
  font-size: 14px;
  color: #fff;
  background-color:#263238;
  border: 1px solid transparent;
  cursor:pointer;
}
#layout_content_popup_sub button.userManageButtonAddAcount{
  width: 110px;
  height: 30px;
  padding: 2px;
  margin: 5px 6px 8px 80px;
  font-size: 14px;
  color: #fff;
  background-color:#263238b0;
  border: 1px solid transparent;
  cursor:pointer;
  float: left;
}
#layout_content_popup_sub button.check{
  width: 60px;
  height: 22px;
  padding: 2px;
  font-size: 12px;
  color: #fff;
  background-color:#d28991;
  border: 1px solid transparent;
  cursor:pointer;
}
#layout_content_popup_sub button.userManageButtonServer{
  width: 175px;
  height: 40px;
  min-height:40px;
  padding: 2px;
   margin: 5px 6px 8px 30px;
  font-size: 14px;
  color: #fff;
  background-color:#263238;
  border: 1px solid transparent;
  cursor:pointer;
}
#layout_content_popup_sub button.userManageButtonRev{
  width: 175px;
  height: 40px;
  min-height:40px;
  padding: 2px;
  margin: 5px 6px 8px 30px;
  font-size: 14px;
  color: #fff;
  background-color:#263238;
  border: 1px solid transparent;
  cursor:pointer;
}

#layout_content_popup_sub button.userManageButton:hover{
	background-color:#002266;
}


.btn_it01 {
	width: 50px;
	height: 25px;
	background-color:#464646;
	border:solid 1px transparent;
	font-size:13px;
	color:#fff;
	cursor:pointer;
	border-radius: 4px;
	behavior: url(/r2pRecordStreaming/static/lib/PIE/PIE.htc);
	}

.btn_it01:hover{
	background-color:#848484;
}

.btn_it02 {
	width: 120px;
	height: 30px;
	background-color:#464646;
	border:solid 1px transparent;
	font-size:14px;
	color:#fff;
	cursor:pointer;
	margin-top: 4px;
	border-radius: 3px;
	margin-left : 15px;
	float: left;
	behavior: url(/r2pRecordStreaming/static/lib/PIE/PIE.htc);
	}
	
.btn_it03 {
	width: 120px;
	height: 30px;
	background-color:#464646;
	border:solid 1px transparent;
	font-size:14px;
	color:#fff;
	cursor:pointer;
	margin-top: 4px;
	border-radius: 3px;
	margin-left : 15px;
	margin-right: 15px;
	float: right;
	behavior: url(/r2pRecordStreaming/static/lib/PIE/PIE.htc);
	}

.btn_it02:hover{
	background-color:#848484;
}

.left{
	border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    behavior: url(/r2pRecordStreaming/static/lib/PIE/PIE.htc);
}

.right{
	border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    behavior: url(/r2pRecordStreaming/static/lib/PIE/PIE.htc);
}

.border{
	border: 1px solid #e0e0e0;
}

.border_sub{
	border: 1px solid #e0e0e0;
	border-bottom: none;
}

.margin_l1{margin-left: 190px;}
.margin_l2{margin-left: 50px;}
.margin_l3{margin-left: 20px;}
.margin_l4{margin-left: 150px;}
.margin_l5{margin-left: 50px;}
.margin_l6{height: 40px; margin-top: 10px; }
.margin_l7{margin-bottom:20px; }
.margin_l8{margin-left: 60px;}
.margin_l9{margin-left: 430px;}
.margin_l10{margin-left: 520px;}

.pointer{cursor: pointer;}

.position{position: absolute;z-index: 0; margin-top: -12px;}
.position2{position: absolute;z-index: 0; margin-top: -12px; margin-left: 20px;}
.position3{position: absolute;z-index: 0; margin-top: -12px; margin-left: 15px;}



.textOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  height: 20px;
}


.ui-datepicker-trigger {
	height:30px;
}

